.DS_Store
.gitconfig
/.npm
/.Trash
/.virtualenvs
/.dropbox/
/Applications
/Downloads
/Dropbox
/Library
/Life.wiki/
/Movies
/Music
/Optaros
/Pictures
/Projects
/Public
/data
etpro\\client.ts
/Documents/Microsoft User Data
/Documents/PhoneGapLib
